<h1>Find The Longest Word</h1>
<p class="letters"><%= @grid.join(" ") %></p>
<form action="/result">
<label for="your_word"></label>
  <input type="text" id="your_word" name="your_word" placeholder="enter the longest word here">
  <input type="submit" value="Submit">
  <input type="hidden" name="start_time" value="<%= @start_time %>">
  <input type="hidden" name="grid" value="<%= @grid %>">
</form>
